<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <style>
            .footer{
                position: relative;
                text-align: center;
                top: 300px;
                font-size: 30px;
                font-weight: bold;
                color: magenta;
            }
            img{
                width:250px;
                height: 250px
            }
        </style>
    </head>
    <body>
        {{>header}}

        <img src="/img/4.jpg"/>
        <p> {{name}} </p>
        <p>This app uses Mapbox to get co-ordinates & darksky to fetch data about forecast</p>
        {{>footer}}
    </body>
</html>